@font-face {
   font-family: 'Lobster';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/STUDY%20&%20CAREER/WEB%20DEVLOPMENT/CODE%20FILES/Article%20X/V%20004/fonts/Lobster/regular.ttf') format('truetype');
}
